{% extends 'core/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block js %} {% endblock %} {% block contenido %}
<br /><br /><br /><br />
    <div class="container">
      <h3>Algunas de nuestras esculturas más destacadas:</h3>
      <br />
      <div class="row">
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Pieza Interior por José Álvarez</span></div>
          <a class="nav-link" href="/artista/">
            <img class="w-100" src="{% static 'core/images/escultura11.jfif' %}"
          /></a>
        </div>
        <br />
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Liderato por José Álvarez</span></div>
          <a class="nav-link" href="/artista/">
            <img class="w-100" src="{% static 'core/images/escultura12.jpg' %}"
          /></a>
        </div>
        <br />
        <div class="col-sm-4 col-log-2 borde">
          <div>
            <span>Tiempo por José Álvarez</span>
          </div>
          <a class="nav-link" href="/artista/">
            <img class="w-100" src="{% static 'core/images/escultura13.jpg' %}"
          /></a>
        </div>
          </a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
  