{% extends 'app/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block js %} {% endblock %} {% block contenido %}
    <div class="container">
    <h3>Conoce a los mejores artistas:</h3>
      <br />
      <div class="row">
        <div class="col-sm-4 col-log-2 borde">
          <div><span>José: Escultura, Obras y Exposiciones </span></div>
          <a class="nav-link" href="/artista/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_1.jpg' %}"
          /></a>
        </div>
        <br />
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Manuel: Pintor, Obras y Exposiciones </span></div>
          <a class="nav-link" href="/artista2/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_2.jpg' %}"
          /></a>
        </div>
        <br />
        <div class="col-sm-4 col-log-2 borde">
          <div>
            <span>Kumerasaki: Arte Abstracto, Obras y Exposiciones </span>
          </div>
          <a class="nav-link" href="/artista3/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_3.jpg' %}"
          /></a>
        </div>
        <br />
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Jhin: Arte Callejero, Obras y Exposiciones </span></div>
          <a class="nav-link" href="/artista4/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_4.jpg' %}"
          /></a>
        </div>
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Jhon: Pintor, Obras y Exposiciones </span></div>
          <a class="nav-link" href="/artista5/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_5.jpg' %}"
          /></a>
        </div>
        <div class="col-sm-4 col-log-2 borde">
          <div><span>Florencia: Telar, Obras y Exposiciones </span></div>
          <a class="nav-link" href="/artista6/">
            <img class="w-100" src="{% static 'app/images/ARTISTAS_6.jpg' %}"
          /></a>
        </div>
      </div>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
