{% extends 'app/base.html' %} {% load static %} {% block css %} {%endblock%}
{%block js %} {% endblock %} {% block contenido %}
<div class="container">
  <div style="text-align: center">
    <h2>Contáctanos</h2>
    <p>Cuéntanos qué podemos hacer por ti</p>
  </div>
  <div class="row">
    <div class="column">
      <img class="rounded" src="{% static 'app/images/imagen1.jpg' %}" style="width: 100%" />
    </div>
    <div class="column">
      
        
        
        <div class="container">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Por favor, rellena este formulario</h4>
              </div>
              <form action="/registrar_solicitud/" method="POST">{% csrf_token %}
              <div class="panel-body">             
                <br />
                
                <div class="form-group">
                    <label for="fullname" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" id="fullname" name="fullname" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">Apellido</label>
                    <div class="col-sm-10">
                        <input type="text" id="lastname" name="lastname" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                <label for="comuna" class="col-sm-2 control-label">Comuna</label>
                <div class="col-sm-10">
                      <select id="comuna" name="comuna" required>
                                  <option></option>
                                  <option value="santiago_centro">Santiago Centro</option>
                                  <option value="maipu">Maipú</option>
                                  <option value="pedro_aguirre_cerda">Pedro Aguirre Cerda</option>
                                  <option value="nunoa">Ñuñoa</option>
                                  <option value="puente_alto">Puente Alto</option>
                                  <option value="la_florida">La Florida</option>
                                  <option value="macul">Macul</option>
                                  <option value="cerrillos">Cerrillos</option>
                                  <option value="la_pintana">La Pintana</option>
                                  <option value="las_condes">Las Condes</option>
                                  <option value="penalolen">Peñalolén</option>
                                  <option value="vitacura">Vitacura</option>
                                </select></div>
                              </div>
                
              
                
                <div class="form-group">
                    <label for="comments" class="col-sm-2 control-label">Comentarios</label>
                    <div class="col-sm-10">
                        <textarea name="comments" id="comments" cols="40" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                
                
                
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">                  
                      <div class="checkbox">
                        <label> <input type="checkbox" id="agree" name="agree" value="agree">   He leído los términos de condición y uso.</label>                   
                      </div>
                      <em id="agree-error" class="help-block"></em>
                  </div>            
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Enviar" />
                    </div>
                </div>
              </div>
              </form>
            </form> 
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}