{% extends 'app/base.html' %} {% load static %} {% load socialaccount %} {% block css %} <link rel="stylesheet" href="{% static 'app/css/login.css' %}" />
{% endblock %} {% block js %} <script src="{% static 'app/js/login.js' %}" />
{% endblock %} 
{% block contenido %}
{% load crispy_forms_tags %}


<div class="login container">
    <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin" method="post">
            {% csrf_token %} {{ form | crispy }}
            <input class="btn btn-lg btn-primary btn-block btn-signin" value="Entrar" type="submit">
            </input>
          </form>
          <br>
          <a href="#" class="forgot-password">
              ¿Olvidaste tu contraseña?
          </a>
          <p>¿No tienes cuenta? <a href="/registrar/" class="forgot-password"> Regístrate aquí</a></p>
      
        <a href="{% provider_login_url 'google' %}"> Iniciar sesión con Google</a>
    </div>
</div>
{% endblock %}
