{% extends 'app/base.html' %} {% load static %} {% block css %} {% endblock %}
{% block js %} {% endblock %} {% block contenido %}

    {% load crispy_forms_tags %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2> Registro de usuario</h2>
                    <hr>
                    <form action="" method="POST">
                      {% csrf_token %} 
                      
                      {{ form | crispy }}


                      <input
                          class="btn btn-primary float-right"
                          value="Registrar"
                          type="submit"
                      >
                          </input>
                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- /card-container -->
    </div>

{% endblock %}

